html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ol, nav ul, nav li, form, footer, header, menu, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

footer, header, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.clear {
  clear: both; }

body {
  font-family: 'Maven Pro', sans-serif;
  background: #ffffff;
  font-size: 100%; }

.container {
  margin: auto;
  width: 70%; }

.wrapper {
  position: relative;
  width: 100%; }

.fa {
  color: #777777; }

@media only screen and (max-width: 1280px) {
  .container {
    width: 95%; } }

@media only screen and (max-width: 960px) {
  .container {
    width: 95%; } }

@media only screen and (max-width: 768px) {
  .container {
    width: 95%; } }

@media only screen and (max-width: 320px) {
  .container {
    width: 95%; } }

.black-bg {
  background: #242424; }

.header_top {
  padding: 0 4%; }

.logo {
  float: left;
  margin: 5px 0; }

.logo a {
  color: #57C5A0;
  font-size: 2em; }

.login_reg {
  float: right;
  padding: 12px 16px;
  border-right: 1px solid #3c3c3c;
  text-align: center; }

.login_reg ul:hover {
  cursor: pointer;
  background-color: #57C5A0;
  border-radius: 5px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.login_reg ul li {
  display: inline-block; }

.login_reg li a {
  font-family: 'Maven Pro', sans-serif;
  font-size: 0.8125em;
  display: block;
  padding: 5px 8px;
  color: #777777;
  text-transform: uppercase; }

.login_reg span.log {
  font-size: 0.8125em;
  color: #777777;
  text-transform: lowercase; }

.web_search {
  position: relative;
  float: right;
  width: 20%;
  border-right: 1px solid #3c3c3c;
  border-left: 1px solid #3c3c3c;
  padding: 8px 10px; }

.web_search input[type="text"] {
  font-family: 'Maven Pro', sans-serif;
  padding: 9px 20px;
  outline: none;
  border: none;
  width: 76%;
  background: none;
  font-size: 0.8125em;
  color: #777777; }

.web_search:hover input[type="submit"] {
  background: url(../img/search.png) no-repeat 0px 4px; }

.web_search input[type="submit"] {
  background: url(../img/search.png) no-repeat 0px 4px;
  border: none;
  width: 25px;
  height: 25px;
  cursor: pointer; }

.header_btm {
  padding: 0 4%; }

.menu {
  float: left; }

.search {
  display: none; }

.hamb-nav {
  display: none; }

.menu ul li {
  float: left;
  border-left: 1px solid #e2e2e2; }

.menu ul li:nth-child(6) {
  border-right: 1px solid #e2e2e2; }

.menu ul li a {
  display: block;
  padding: 26px 30px;
  color: #2d2d2d;
  font-size: 1.1em;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.menu ul li.active a {
  color: #57C5A0; }

.menu ul li a:hover {
  color: #57C5A0; }

.header_right {
  float: right; }

.header_right ul li {
  display: inline-block; }

.header_right ul li a {
  font-family: 'Maven Pro', sans-serif;
  display: block;
  line-height: 1.8em;
  font-size: 1.3em;
  padding: 26.5px 24px;
  border-left: 1px solid #e2e2e2; }

.header_right ul li:nth-child(2) a {
  border-right: 1px solid #e2e2e2; }

.header_right ul li a span {
  background: #999999;
  padding: 6px 8px;
  border-radius: 5px;
  margin-left: 14px;
  color: #ffffff;
  font-size: .8em; }

.header_right ul li a span:hover {
  background: #57C5A0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/* JQuery style */
ul.ui-autocomplete.ui-menu {
  font-family: 'Maven Pro', sans-serif;
  background: #242424;
  color: #777777;
  text-transform: uppercase;
  font-size: .825em;
  width: 12.9999%;
  display: block;
  padding: 11px;
  border: none; }

.ui-menu-item {
  padding: 12px; }

.ui-widget-content .ui-state-active {
  background: #242424;
  border: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

@media only screen and (max-width: 1280px) {
  .menu ul li a {
    padding: 26px 15px; } }

@media only screen and (max-width: 960px) {
  .logo a {
    font-size: 1.9em; }
  .web_search {
    width: 16.33333%; }
  .login_reg {
    width: 15.66666%; }
  .login_reg li a {
    padding: 5px 0; }
  .web_search input[type="text"] {
    width: 74%; }
  .menu ul li a {
    padding: 26px 15px; }
  .header_right ul li a {
    padding: 26.5px 19px; } }

@media only screen and (max-width: 768px) {
  .web_search {
    width: 18.33333%; }
  .web_search input[type="text"] {
    font-size: .7em; }
  .login_reg {
    width: 17.6666%; }
  .login_reg li a {
    font-size: .7em; }
  .login_reg span.log {
    font-size: .7em; }
  ul.ui-autocomplete.ui-menu {
    font-size: .7em; }
  .menu ul li a {
    padding: 21px 20px;
    font-size: .8em; }
  .menu ul li:nth-child(6) {
    border-right: none; }
  .header_right ul li a {
    padding: 21.5px 16px; }
  .header_right ul li a > i {
    font-size: .7em; } }

@media only screen and (max-width: 320px) {
  .logo a {
    font-size: 1.3em;
    line-height: 1.9em; }
  .web_search {
    display: none; }
  .login_reg {
    width: 32.6666%;
    border-left: 1px solid #3c3c3c;
    padding-left: 8px; }
  .login_reg ul li {
    margin-top: 5%; }
  .login_reg li a {
    font-size: .55em; }
  .login_reg span.log {
    font-size: .6em; }
  .menu {
    display: none; }
  .header_right ul li a {
    padding: 21px 8px; }
  .hamb-menu {
    width: 279px;
    margin-top: 17px;
    margin-left: -16px;
    display: none; }
  .hamb-menu li {
    font-family: 'Maven Pro', sans-serif;
    font-size: .6em;
    background: white;
    text-align: left;
    border-top: .8px solid #c7c1c1;
    padding: 5px;
    line-height: 1.3em; }
  .hamb-menu li a {
    color: #2d2d2d;
    margin-left: 7px; }
  .hamb-menu li a:hover {
    color: #57C5A0; }
  .hamb-nav {
    position: relative;
    z-index: 1000; }
  .hamb-nav {
    display: inline-block;
    width: 28px;
    height: 28px;
    position: absolute;
    padding: 14px 16px;
    left: 6.33333%;
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    font-size: 1.5em; }
  .fa-bars {
    margin-left: 3px; }
  .fa-bars:hover {
    color: #57C5A0; }
  .search {
    display: inline-block;
    width: 28px;
    height: 28px;
    position: absolute;
    padding: 14px 18px;
    left: 23.6666%; }
  .fa-search {
    margin-left: 15px;
    margin-top: 5px; } }

.slider {
  background: #2e2e2e;
  padding-bottom: 6%; }

.ei-slider {
  font-family: 'Maven Pro', sans-serif;
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 450px;
  margin: 0 auto; }

.ei-slider-large {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden; }

.ei-slider-large li {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  height: 100%;
  width: 100%; }

.ei-slider-large li img {
  margin-left: 0px !important; }

.slider-im-img {
  width: 100%;
  height: 100%; }

.slider-im-img1 {
  display: none; }

.ei-title {
  position: absolute;
  right: 25%;
  top: 15%; }

.btn {
  background: #57C5A0;
  color: #ffffff;
  padding: 16px 5px;
  display: inline-block; }

.btn.h3 {
  font-size: 1em; }

.ei-title h2 {
  font-family: 'Maven Pro', sans-serif;
  padding: 10px 0 0;
  font-size: 2.5em;
  line-height: 1.2em;
  color: #242424;
  text-transform: capitalize; }

.ei-title h3 {
  font-family: 'Maven Pro', sans-serif;
  padding-top: 15px;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #ffffff;
  cursor: pointer; }

.ei-title h3.active {
  color: #000000; }

.ei-title h3 i.fa {
  background: #ffffff;
  padding: 12px;
  font-size: 1.2em; }

.ei-title h3 i.fa:hover {
  color: #57C5A0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.ei-slider-thumbs {
  height: 10px;
  margin: 10 auto;
  position: relative; }

.ei-slider-thumbs li {
  position: relative;
  float: left;
  height: 130%; }

.ei-slider-thumbs li.ei-slider-element {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 130%;
  z-index: 10;
  text-indent: -9000px;
  background: #5B6A7F;
  background: #57C5A0;
  border-radius: 7px; }

.ei-slider-thumbs li a {
  text-align: center;
  display: block;
  background: #000000;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 7px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 1px #303030;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 1px #303030;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease; }

.ei-slider-thumbs li a:hover {
  background-color: #f0f0f0;
  border-radius: 10px; }

.ei-slider-thumbs li a span.active {
  color: #ffffff;
  border-radius: 10px; }

.ei-slider-thumbs li a span {
  padding-top: 30px;
  font-size: 1.2em;
  display: inline-block;
  color: #999999;
  text-transform: capitalize; }

.ei-slider-thumbs li a p {
  font-size: 0.8125em;
  color: #999999;
  line-height: 1.8em; }

.ei-slider-thumbs li img {
  position: absolute;
  bottom: 50px;
  opacity: 0;
  z-index: 999;
  max-width: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.3)));
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

.ei-slider-thumbs li:hover img {
  opacity: 1;
  bottom: 13px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

@media only screen and (max-width: 1280px) {
  .ei-title h2 {
    font-size: 2em; } }

@media only screen and (max-width: 960px) {
  .slider {
    padding-bottom: 9%; }
  .ei-slider-thumbs {
    width: 86%; }
  .ei-slider-thumbs li a span {
    font-size: 1em; }
  .ei-title h3 {
    font-size: 0.8275em; } }

@media only screen and (max-width: 768px) {
  .ei-title h3 i.fa {
    padding: 12px; }
  .slider {
    padding-bottom: 11%; } }

@media only screen and (max-width: 320px) {
  .ei-title {
    left: 6.3333%;
    top: 5%;
    width: 100%; }
  .ei-title h3.active {
    margin-bottom: 5%; }
  .ei-title h3 i.fa {
    padding: 10px; }
  .ei-slider-thumbs li a span {
    font-size: .9em; }
  .ei-slider-thumbs li a p {
    font-size: .7em; }
  .ei-slider-large {
    max-height: 80%; }
  .slider-im-img {
    display: none; }
  .slider-im-img1 {
    display: block;
    height: 100%; }
  .slider {
    padding-bottom: 3%; } }

/* 3imgs */
.main-imgs {
  padding: 4% 4% 2%; }

.img-1-3 {
  float: left;
  width: 30.99999%;
  margin-left: 3.3333%;
  text-align: center; }

.img-1-3:first-child {
  margin-left: 0; }

.img-1-3 img {
  width: 100%; }

.img-1-3 span {
  position: relative;
  top: -130px; }

.img-1-3 span.tag {
  background: rgba(36, 36, 36, 0.85);
  padding: 20px 40px;
  color: #ffffff;
  font-size: 1.5em;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.img-1-3 span.tag:hover {
  color: #57c5a0; }

/* Main */
.main-bg {
  background: #EBE7DF; }

.main {
  padding: 4%; }

.main-top {
  margin: 3% 0; }

.main-top:first-child {
  margin-top: 0; }

.main-top h2 {
  float: left;
  font-size: 1.5em; }

.main-top a {
  float: right;
  text-transform: capitalize;
  font-size: 1.5em;
  color: #BCB4A7;
  padding: 8px 20px;
  border: 1px solid #BCB4A7;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.main-top a:hover {
  background: #BCB4A7;
  color: #fff; }

/* m3grids */
.m3grids {
  text-align: center;
  display: block; }

.mgrid-1-3 {
  float: left;
  width: 30.33333%;
  margin-left: 4.3333%;
  background: #ffffff;
  position: relative; }

.mgrid-1-3:first-child {
  margin-left: 0; }

.mgrid-1-3 a h3.title {
  display: block; }

.mgrid-1-3 a:hover h3.title {
  display: none; }

.mgrid-1-3 a h3.img {
  display: none; }

.mgrid-1-3 a h3 i {
  margin-left: 8%; }

.mgrid-1-3 a h3 i:hover {
  color: #57C5A0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.mgrid-1-3 a:hover h3.img {
  display: block; }

.mgrid-1-3 img {
  padding: 8% 0; }

.mgrid-1-3 h3 {
  border-top: 1px solid #EBEBEB;
  padding: 15px;
  font-size: 1.2em;
  color: #000000;
  text-transform: capitalize; }

.price {
  background: #57c5a0;
  position: absolute;
  font-size: 0.8em;
  padding: 25px 8px;
  bottom: 0;
  left: 10px;
  color: #ffffff; }

.price1 {
  position: absolute;
  font-size: 0.8em;
  padding: 25px 8px;
  top: 0;
  right: 10px;
  color: #ffffff;
  text-transform: uppercase; }

.price1.b {
  background: #242424; }

.price1.o {
  background: #F27E4B;
  width: 60px; }

/* m2grids */
.m2grids {
  margin: 4% 0 1%;
  display: block;
  border-top: 1px solid #DFDBD4;
  padding-top: 3%; }

.mgrid-1-2 {
  float: left;
  width: 46.77777%;
  margin-left: 2.3333%; }

.mgrid-1-2:first-child {
  margin-left: 0; }

.mgrid-1-2.bg {
  background: #DFDBD4;
  padding: 2%;
  height: 177px; }

.mgrid1-1-2 {
  float: left;
  width: 38.77777%;
  margin-left: 5.3333%;
  background: #DFDBD4;
  padding: 4%;
  height: 180px; }

.mgrid1-1-2:first-child {
  margin-left: 0; }

.mgrid-1-2 h2 {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 4%; }

.mgrid-1-2 {
  font-size: 0.8725em;
  line-height: 1.3em; }

.mgrid1-1-2 span.jd {
  font-style: italic;
  line-height: 2.3em; }

.blog-date {
  margin-top: 4%; }

.date1 {
  float: left;
  width: 9.3333%; }

.blog-txt {
  float: left;
  width: 84.3333%;
  margin-left: 3.3333%; }

.date1 h4 {
  font-size: 1.1em;
  margin-top: 2px;
  background: #57C5A0;
  padding: 8px 12px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  font-weight: bold; }

.blog-txt h3 a {
  display: block;
  font-size: 1.1em;
  margin-bottom: 1%;
  font-weight: bold;
  color: #141414; }

.blog-txt h3 a:hover {
  color: #57C5A0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

@media only screen and (max-width: 1280px) {
  .img-1-3 span {
    top: -110px; }
  .img-1-3 span.tag {
    padding: 17px 24px;
    font-size: 1.3em; }
  .date1 h4 {
    font-size: .8em; } }

@media only screen and (max-width: 960px) {
  .mgrid-1-3 h3 {
    font-size: 1em;
    text-align: left;
    margin-left: 65px; }
  .mgrid-1-3 a h3 i {
    margin-left: 10%; }
  .img-1-3 span {
    top: -90px; }
  .img-1-3 span.tag {
    padding: 12px 18px;
    font-size: 1.2em; }
  .main-top h2 {
    margin-top: 1%;
    font-size: 1.3em; }
  .main-top a {
    font-size: 1.3em;
    padding: 6px 16px; }
  .price {
    font-size: .7em; }
  .price1 {
    font-size: .7em;
    padding: 20px 5px; }
  .mgrid-1-2 {
    font-size: .75em; }
  .date1 {
    width: 11.33333%; }
  .date1 h4 {
    font-size: .75em; } }

@media only screen and (max-width: 768px) {
  .img-1-3 span {
    top: -70px; }
  .img-1-3 span.tag {
    padding: 10px 15px;
    font-size: 1em; }
  .main-top a {
    font-size: .9em; }
  .mgrid-1-3 {
    width: 31.66666%;
    margin-left: 2.3333%; }
  .mgrid-1-3 img {
    padding: 2% 0; }
  .mgrid-1-3 h3 {
    padding: 10px;
    font-size: .85em; }
  .mgrid-1-2 .hide {
    display: none; }
  .mgrid-1-2 {
    width: 31.77777%;
    margin-left: 2.3333%; }
  .mgrid1-1-2 {
    width: 91.77777%;
    margin-left: 5.3333%;
    height: 160px;
    margin-left: 0; }
  .mgrid1-1-2 h2 {
    margin: 2.5%; }
  .mgrid1-1-2 p {
    margin: 5% 4% 0; }
  .mgrid1-1-2 span.jd {
    margin: 2% 4%; }
  .mgrid-1-2.bg {
    width: 61.6666%;
    height: 151px; } }

@media only screen and (max-width: 320px) {
  .img-1-3 {
    float: none;
    width: 100%;
    margin-left: 0;
    text-align: center; }
  .img-1-3 span {
    top: -90px; }
  .mgrid-1-3 {
    float: none;
    width: 100%;
    margin-left: 0;
    text-align: center;
    margin-top: 12px; }
  .main-top h2 {
    float: none;
    text-align: center;
    margin-bottom: 3%; }
  .main-top a {
    float: left;
    width: 88%;
    text-align: center; }
  .mgrid-1-3 h3 {
    text-align: center; }
  .mgrid-1-2 {
    float: none;
    width: 100%;
    margin-left: 0; }
  .mgrid1-1-2 {
    height: 120px; }
  .mgrid-1-2.bg {
    width: 88%;
    margin-left: 0;
    margin-top: 150px;
    padding: 6%; }
  .date1 h4 {
    padding: 8px 7px; } }

.footer-top {
  background: #242424; }

.footer {
  padding: 4%; }

.f3grids {
  display: block; }

.fgrid-1-3 {
  float: left;
  width: 30.9999%;
  margin-left: 3.3333%; }

.fgrid-1-3:first-child {
  margin-left: 0; }

.fgrid-1-3 h3 {
  font-size: 1.2em;
  color: #747474;
  text-transform: uppercase;
  margin-bottom: 6%; }

.fgrid-1-3 p {
  font-size: 0.8725em;
  color: #9B9B9B;
  line-height: 1.6em;
  font-style: italic; }

.fgrid-1-3 p.top {
  margin-top: 2%; }

.fgrid-1-3 p a {
  color: #57C5A0; }

.fgrid-1-3 p a:hover {
  color: #9B9B9B; }

.twitter-timeline {
  background: #242424;
  max-height: 10px; }

.flickr_badge_image {
  margin: 0px;
  display: inline; }

.flickr_badge_image img {
  margin: 1.5%;
  width: 27.3333%;
  height: 9.66666%; }

#flickr_badge_wrapper {
  width: 100%;
  text-align: left; }

.footer-mid {
  border-top: 1px solid #141414;
  background: #242424; }

.fsearch {
  float: left;
  position: relative;
  width: 29.3333%; }

.fsearch form input[type="text"] {
  float: left;
  font-family: 'Maven Pro', sans-serif;
  font-style: italic;
  font-size: 0.8725em;
  line-height: 24px;
  width: 87.3333%;
  padding: 10px;
  background: #2E2E2E;
  color: #9B9B9B;
  border: none;
  outline: none; }

.fsearch form i {
  cursor: pointer;
  line-height: 1em;
  float: right;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.fsearch form i.fa-angle-right {
  font-size: 1.5em;
  background: #9B9B9B;
  padding: 10px 18px; }

.fsearch form i:hover {
  opacity: 0.7; }

.social {
  float: right;
  margin-right: 2%; }

.social ul li {
  float: left;
  margin-left: 10px; }

.social ul li a {
  display: block;
  padding: 10px;
  background: #2e2e2e;
  width: 24px;
  height: 24px; }

.social ul li a i {
  font-size: 1.5em; }

.social ul li a:hover i {
  color: white; }

.social ul li a i.fa-facebook {
  margin-left: 5px; }

.social ul li a.facebook:hover {
  background: #3866c9;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.social ul li a.twitter:hover {
  background: #4d9bf5;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.social ul li a.google:hover {
  background: #d34836;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.social ul li a.linked:hover {
  background: #0077B5;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.social ul li a.flickr:hover {
  background: #ff0084;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.footer-btm {
  background: #2e2e2e; }

.copy {
  float: left; }

.copy p {
  color: #7d7d7d;
  font-size: 0.8725em;
  line-height: 1.8em; }

.fnav1 {
  float: right; }

.fnav1 li {
  float: left;
  margin-right: 10px; }

.fnav1 li a {
  display: block;
  color: #7d7d7d;
  font-size: 0.8725em; }

.fnav1 li a span:hover {
  color: #57c5a0; }

/* ScrollUp Button */
.scrollup {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 20px;
  display: none;
  text-indent: -9999px;
  background: url(../img/top-move.jpg) no-repeat; }

.scrollup:hover {
  opacity: .7;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

@media only screen and (max-width: 1280px) {
  .fsearch {
    width: 30%; }
  .fsearch form input[type="text"] {
    width: 86.5%; } }

@media only screen and (max-width: 960px) {
  .footer-top .container {
    width: 87%; }
  .footer-mid .container {
    width: 87%; }
  .fnav li {
    width: 26.9999%; }
  .fgrid-1-3 {
    font-size: .7725em; }
  .fgrid-1-3 h3 {
    font-size: 1em; }
  .fsearch {
    width: 33.3333%; }
  .fsearch form input[type="text"] {
    line-height: 18px;
    width: 82%; }
  .fsearch form i {
    line-height: 18px;
    left: 0; }
  .social ul li a i {
    height: 18px; } }

@media only screen and (max-width: 768px) {
  .footer-top .container {
    width: 95%; }
  .footer-mid .container {
    width: 95%; }
  .f3grids .hide {
    display: none; }
  .fgrid-1-3 {
    width: 37.9999%;
    margin-left: 24%; }
  .fnav li {
    width: 30.3333%;
    margin: 0 7px 7px 0; }
  .fsearch {
    width: 38%; }
  .fsearch form input[type="text"] {
    line-height: 15px; }
  .fsearch form i {
    line-height: 15px;
    padding: 10px 14px; }
  .social ul li a {
    height: 18px;
    padding: 8px 6px; }
  .copy p {
    font-size: 0.725em;
    line-height: 1.5em; }
  .fnav1 li a {
    font-size: 0.725em; } }

@media only screen and (max-width: 320px) {
  .fgrid-1-3 {
    float: none;
    width: 100%;
    margin-left: 0; }
  .fgrid-1-3 h3 {
    margin-top: 5%; }
  .flickr_badge_image img {
    width: 30.3333%; }
  .fsearch {
    float: none;
    width: 100%; }
  .fsearch form input[type="text"] {
    width: 83%; }
  .social {
    float: none;
    margin-left: 7%;
    margin-top: 4%; }
  .social ul li {
    margin-top: 6%; }
  .social ul li a i {
    font-size: 1.3em; }
  .social ul li a i.fa-flickr {
    margin-left: 3px; }
  .copy {
    margin-left: 22%; }
  .copy p {
    text-align: center;
    width: 100%; }
  .fnav1 {
    float: none;
    width: 100%;
    margin-top: 17%; }
  .fnav1 li {
    float: none;
    text-align: center; } }

/* Login */
#modal {
  border: 1px solid #e6e4e4;
  width: 300px;
  position: absolute;
  left: 41%;
  top: 30%;
  background: white;
  z-index: 1001;
  text-align: left; }

.popupHeader {
  display: inline-block;
  background: #e2e2e5;
  width: 100%; }

.popup_title {
  float: left;
  text-transform: uppercase;
  padding: 8px;
  font-weight: bold; }

.modal_close {
  background: #a0a0a0;
  padding: 10px;
  float: right;
  cursor: pointer; }

.modal_close:hover {
  opacity: .8; }

.user_login label {
  display: block;
  margin-bottom: 5px;
  font-size: .9em;
  font-family: 'Maven Pro', sans-serif; }

.user_login label.us-ps {
  margin: 12px; }

.user_login input[type="text"],
.user_login input[type="email"],
.user_login input[type="password"] {
  display: block;
  width: 90%;
  padding: 10px;
  border: 1px solid #DDD;
  color: #666;
  margin: 12px; }

.user_login input[type="checkbox"] {
  float: left;
  margin-right: 5px;
  margin-left: 12px; }

.user_login input[type="checkbox"] + label:hover {
  opacity: .7; }

.user_login input[type="checkbox"] + label {
  cursor: pointer;
  float: left; }

.user_login .checkbox {
  margin-bottom: 10px;
  clear: both;
  overflow: hidden; }

.forgot_password {
  display: block;
  margin: 12px;
  clear: both;
  overflow: hidden;
  text-decoration: none;
  color: #666; }

.forgot_password a {
  font-size: .9em; }

.forgot_password:hover {
  color: red; }

.bttn {
  padding: 10px 35px;
  background: #F4F4F2;
  float: left;
  margin: 12px;
  color: white; }

.bttn_green {
  background: #57C5A0; }

.bttn_reg {
  background: #666; }

.bttn_green:hover {
  opacity: .8; }

.bttn_reg:hover {
  opacity: .8; }

#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none; }

/* Register */
.user_register label {
  display: block;
  margin-bottom: 5px; }

.user_register input[type="text"],
.user_register input[type="email"],
.user_register input[type="password"] {
  display: block;
  width: 90%;
  padding: 10px;
  border: 1px solid #DDD;
  color: #666;
  margin: 12px; }

.user_register input[type="checkbox"] {
  float: left;
  margin-right: 5px;
  margin-left: 12px; }

.user_register input[type="checkbox"] + label:hover {
  opacity: .7; }

.user_register input[type="checkbox"] + label {
  float: left;
  cursor: pointer; }

.user_register .checkbox {
  margin-bottom: 10px;
  clear: both;
  overflow: hidden; }

.user_register label.us-ps {
  margin: 12px; }

.action_btns .fa-angle-double-left {
  color: white; }

.user_register label {
  font-size: .9em; }

.ei-slider-products {
  height: 400px; }

.ei-title-products {
  right: 18%; }

.ei-title-products .btn-products {
  float: left;
  padding: 25px 10px;
  margin-top: 20px; }

.ei-title-products h3.active {
  font-size: 1.1em; }

.ei-title-products h2 {
  float: left;
  margin-left: 10px; }

.ei-slider-bottom {
  margin-left: 20%; }

.ei-slider-bottom li {
  display: inline-block;
  margin: 1.2% 2.5%;
  color: white;
  font-size: 1em; }

.ei-slider-bottom li:first-child {
  margin-left: 0; }

/* Style ui-menu */
.ui-selectmenu-button.ui-button {
  background: #242424;
  color: white;
  border: none;
  padding: 25px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.ui-selectmenu-button.ui-button:focus {
  outline: none;
  border: none;
  color: #57c5a0; }

.ui-selectmenu-button.ui-button:focus .ui-icon {
  background: url("../img/circle-arrow-d-g.png"); }

.ui-selectmenu-button.ui-button:hover {
  color: #57c5a0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.ui-selectmenu-button.ui-button:hover .ui-icon {
  background: url("../img/circle-arrow-d-g.png");
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.ui-selectmenu-text {
  text-align: center; }

.ui-icon,
.ui-widget-content .ui-icon {
  background: url("../img/circle-arrow-d.png"); }

.ui-widget-header .ui-icon {
  background: url("../img/circle-arrow-d.png"); }

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-button:hover .ui-icon,
.ui-button:focus .ui-icon {
  background: url("../img/circle-arrow-d.png"); }

.ui-state-active .ui-icon,
.ui-button:active .ui-icon {
  background: url("../img/circle-arrow-d.png"); }

.ui-state-highlight .ui-icon,
.ui-button .ui-state-highlight.ui-icon {
  background: url("../img/circle-arrow-d.png"); }

.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
  background: url("../img/circle-arrow-d.png"); }

.ui-button .ui-icon {
  background: url("../img/circle-arrow-d.png");
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.ui-menu .ui-menu-item {
  background: #242424;
  color: white;
  padding: 0px; }

.ui-menu-item .ui-menu-item-wrapper {
  padding: 8px; }

.ui-state-active:hover {
  background: #57c5a0; }

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: none; }

.ui-widget.ui-widget-content {
  border: 1px solid #242424;
  margin-top: 2px;
  border-radius: 8px; }

/* Main */
.main-top-products .products {
  border: none;
  float: left;
  font-size: 1em; }

.main-top-products .view {
  border: none;
  font-size: 1.4em;
  line-height: 1.5em;
  cursor: context-menu; }

.main-top-products .products:hover {
  background: none;
  color: #BCB4A7;
  opacity: .7; }

.main-top-products .view:hover {
  background: none;
  color: #BCB4A7;
  opacity: .7; }

.main-top-products a {
  margin-right: 10px; }

.main-top-products a.active {
  background: white; }

.main-top-products a i {
  padding: 5px 0; }

.m3grids-list .mgrid-1-3-products {
  float: none;
  margin-left: 0; }

.main-top-products a i.fa-chevron-circle-down {
  margin-left: 15px; }

.mgrid-1-3-products {
  margin-bottom: 3%; }

.m2grids-products {
  margin-top: 0; }

/* Parallax */
.parallax-background {
  background: url(../img/image1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-position-y: 0%; }

@media only screen and (max-width: 960px) {
  .ei-slider-products {
    height: 290px; }
  .slider-products {
    padding-bottom: 10%; }
  .ei-title-products {
    right: 7%; }
  .ei-title-products .btn-products {
    float: left;
    padding: 22px 10px;
    margin-top: 17px; }
  .ei-title-products h3.active {
    font-size: 1.1em; }
  .ei-title-products h2 {
    float: left;
    margin-left: 10px; }
  .ei-slider-bottom {
    margin-left: 10%; }
  .ei-slider-bottom li {
    display: inline-block;
    margin: 1.3% 1%;
    color: white;
    font-size: 1.1em; }
  .ui-selectmenu-button.ui-button {
    padding: 25px 10px;
    width: 11em; }
  .main-top-products a {
    font-size: 1.2em; }
  .main-top-products a.view {
    font-size: 1.2em;
    line-height: 1.6em; }
  .main-top-products .products {
    line-height: 2em; }
  .parallax-background {
    background: url(../img/image1x960.jpg) center no-repeat;
    background-position-y: 0;
    background-position-x: 30%; } }

@media only screen and (max-width: 768px) {
  .ei-slider-bottom li {
    display: inline-block;
    margin: 1.6% 1.5%;
    color: white;
    font-size: 1em; }
  .ui-selectmenu-button.ui-button {
    padding: 16px;
    width: 7.5em; }
  .main-top-products a.view {
    display: none; }
  .main-top-products a {
    font-size: 1em; }
  .main-top-products h2 {
    font-size: 1.2em; }
  .main-top-products .products {
    line-height: 1.5em; } }

@media only screen and (max-width: 320px) {
  .slider-im-img1 {
    height: 100%;
    width: 100%; }
  .slider-products {
    height: 450px; }
  .ei-title-products h2 {
    font-size: 1.7em;
    float: left; }
  .ei-title-products h3.active {
    float: left;
    font-size: .9em; }
  .icons-products {
    float: left; }
  .ei-slider-bottom {
    margin-left: 2%;
    margin-top: 5%; }
  .ei-slider-bottom li {
    display: block;
    text-align: center; }
  .ui-selectmenu-button.ui-button {
    text-align: center;
    float: none;
    margin: 1%;
    padding: 16px 30px; }
  .ui-menu-item-wrapper {
    font-size: .75em; }
  .ei-slider-bottom li a i {
    margin-left: 4px;
    margin-right: 2px; }
  .main-top-products a.products {
    text-align: left;
    margin-left: 0; }
  .main-top-products .hide {
    display: none; } }

.ei-slider-bottom-about h3 {
  font-size: 2em;
  line-height: 3.4em;
  margin-left: 18%;
  color: #777777;
  text-transform: capitalize; }

.cont-top {
  text-align: center;
  font-family: 'Maven Pro', sans-serif; }

.cont-top h3 {
  font-size: 2em;
  margin-bottom: 2%;
  padding-bottom: 2%;
  color: #505050;
  border-bottom: 1px solid #777; }

.cont-top p {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 5%; }

.a3grids {
  display: block;
  text-align: center;
  margin-bottom: 20%; }

.a3grids-1-3 {
  float: left;
  width: 28.6666%;
  margin-left: 2.33333%;
  background: #DFDBD4;
  padding: 1.5%; }

.a3grids-1-3:first-child {
  margin-left: 0; }

.a3grids-1-3 h3 {
  margin-bottom: 2%;
  font-weight: bold;
  font-size: 1em;
  color: #505050; }

.cont-top h4 {
  text-transform: uppercase;
  color: #505050;
  font-size: 2em;
  margin-bottom: 2%;
  padding-bottom: 2%;
  border-bottom: 1px solid #777; }

.a3grids-1-3 i {
  font-size: 3em;
  color: #242424;
  margin-bottom: 3%; }

.a3grids i.fa {
  display: inline-block;
  border-radius: 60px;
  -webkit-box-shadow: 0px 0px 2px #242424;
          box-shadow: 0px 0px 2px #242424;
  padding: 0.5em 0.6em; }

.m2grids-about {
  border: none; }

@media only screen and (max-width: 960px) {
  .ei-slider-bottom-about h3 {
    font-size: 1.7em;
    line-height: 3.3em;
    margin-left: 7%; }
  .cont-top h3 {
    font-size: 1.5em; }
  .cont-top h4 {
    font-size: 1.5em; }
  .a3grids-1-3 h3 {
    font-size: 1.1em; }
  .a3grids {
    margin-bottom: 35%; }
  .a3grids-1-3 i {
    font-size: 2em; } }

@media only screen and (max-width: 768px) {
  .ei-slider-bottom-about h3 {
    font-size: 1.4em;
    line-height: 3.4em;
    margin-left: 5%; }
  .a3grids .hide {
    display: none; }
  .a3grids-1-3 {
    width: 45.9999%;
    margin-left: 2%; }
  .cont-top h3 {
    font-size: 1em; }
  .cont-top h4 {
    font-size: 1em; }
  .cont-top p {
    font-size: .85em; }
  .a3grids-1-3 h3 {
    font-size: .9em; }
  .a3grids-1-3 p {
    font-size: .8em; } }

@media only screen and (max-width: 320px) {
  .slider-about {
    height: 320px; }
  .ei-slider-bottom-about h3 {
    font-size: 1.2em;
    line-height: 4.4em;
    margin-left: 7%; }
  .a3grids {
    margin-bottom: 2%; }
  .a3grids-1-3 {
    float: none;
    width: 100%;
    margin-left: 0; }
  .cont-top h3 {
    font-size: .9em; }
  .cont-top h4 {
    font-size: .91em; }
  .cont-top p {
    font-size: .7em;
    width: 100%;
    margin-left: 0;
    margin-bottom: 9%; }
  .a3grids-1-3 {
    margin-bottom: 6%; }
  .a3grids-1-3 h3 {
    font-size: .75em; }
  .a3grids-1-3 p {
    font-size: .7em; }
  .a3grids-1-3 i.fa {
    display: none; } }

.contact-top {
  display: block;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 3%; }

.row .col-1-2 {
  float: left;
  margin-right: 3%;
  width: 48.5%; }

.row .col-1-2-r {
  margin-right: 0; }

.contact-top h3 {
  font-size: 2.5em;
  color: #242424;
  margin-bottom: 2%;
  text-align: center; }

.contact-top label {
  text-transform: capitalize; }

.contact-top input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  margin-top: 5px; }

.contact-top textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin-top: 5px; }

.contact-btn {
  margin-top: 2%;
  margin-left: 42%;
  padding: 18px 50px; }

.contact-btn:hover {
  opacity: .7;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.contact-bottom {
  display: block;
  height: 600px;
  padding-top: 2%;
  border-top: 1px solid #BCB4A7; }

.contact-bottom .location {
  display: block;
  margin-bottom: 2%;
  float: left;
  width: 76%; }

.contact-bottom .info {
  display: block;
  float: left;
  width: 22%;
  margin-left: 1.9999%;
  padding-top: 4%; }

.map {
  width: 100%;
  height: 500px; }

.location h3 {
  font-size: 2.5em;
  text-transform: capitalize;
  color: #242424;
  margin-bottom: 2%;
  text-align: center; }

.info h3 {
  font-size: 1.8em;
  text-transform: capitalize;
  color: #242424;
  margin-bottom: 2%; }

.info p {
  font-size: 1em;
  margin-bottom: 1.5%;
  color: #777; }

.info p a {
  color: #57C5A0; }

.social-contact {
  float: none; }

.social-contact ul li:first-child {
  margin-left: 0; }

.social-contact ul li a {
  background: #DFDBD4; }

@media only screen and (max-width: 960px) {
  .contact-top {
    width: 70%;
    margin-left: 17%; }
  .contact-btn {
    margin-left: 38%; }
  .contact-top h3 {
    font-size: 2em; }
  .contact-bottom {
    height: 470px; }
  .contact-bottom .location {
    width: 70%; }
  .contact-bottom .info {
    width: 28%;
    margin-left: 1.9999%;
    padding-top: 5.5%; }
  .map {
    width: 100%;
    height: 400px; }
  .location h3 {
    font-size: 2em; }
  .info h3 {
    font-size: 1.3em; }
  .info p {
    font-size: .9em; }
  .social-contact ul li {
    margin-left: 5px; }
  .social-contact ul li a {
    padding: 10px 8px; } }

@media only screen and (max-width: 768px) {
  .social-contact ul li a {
    padding: 5px; }
  .social-contact ul li a i {
    font-size: 1.3em; }
  .social-contact ul li {
    margin-left: 4px; }
  .contact-bottom .location {
    width: 68%; }
  .contact-bottom .info {
    width: 30%;
    padding-top: 6%; } }

@media only screen and (max-width: 320px) {
  .contact-top {
    width: 100%;
    margin-left: 0; }
  .row .col-1-2 {
    float: none;
    width: 100%; }
  .contact-top {
    padding-bottom: 2%; }
  .contact-bottom {
    height: 600px;
    padding-top: 4%; }
  .contact-bottom .location {
    float: none; }
  .contact-bottom .info {
    float: none; }
  .contact-btn {
    width: 100%;
    margin-left: 0%;
    padding: 18px 0;
    text-align: center; }
  .contact-bottom .location {
    width: 100%; }
  .contact-bottom .info {
    width: 100%;
    padding-top: 6%;
    margin-left: 0; }
  .social-contact ul li {
    margin-left: 10px;
    margin-top: 0; }
  .social-contact ul li a {
    padding: 10px 8px; }
  .social-contact ul li a i {
    font-size: 1.5em; }
  .contact-top h3 {
    font-size: 1.5em;
    padding-bottom: 10px; }
  .location h3 {
    font-size: 1.5em;
    padding-bottom: 10px; }
  .info p:last-of-type {
    padding-bottom: 5px; }
  .map {
    height: 300px; }
  .row {
    text-align: center; } }
