.ei-slider-bottom-about h3 {
    font-size: 2em;
    line-height: 3.4em;
    margin-left: 18%;
    color: #777777;
    text-transform: capitalize;
}
.cont-top {
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
}
.cont-top h3 {
    font-size: 2em;
    margin-bottom: 2%;
    padding-bottom: 2%;
    color: rgb(80, 80, 80);
    border-bottom: 1px solid #777;
}
.cont-top p {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
}

.a3grids {
    display: block;
    text-align: center;
    margin-bottom: 20%;
}
.a3grids-1-3 {
    float: left;
    width: 28.6666%;
    margin-left: 2.33333%;
    background: #DFDBD4;
    padding: 1.5%;
}
.a3grids-1-3:first-child {
    margin-left: 0;
}
.a3grids-1-3 h3 {
    margin-bottom: 2%;
    font-weight: bold;
    font-size: 1em;
    color: rgb(80, 80, 80);
}

.cont-top h4 {
    text-transform: uppercase;
    color: rgb(80, 80, 80);
    font-size: 2em;
    margin-bottom: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid #777;
}
.a3grids-1-3 i {
    font-size: 3em;
    color: #242424;
    margin-bottom: 3%;
}
.a3grids i.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #242424;
    padding: 0.5em 0.6em;
}
.m2grids-about {
    border: none;
}
@media only screen and (max-width: 960px) {
    .ei-slider-bottom-about h3 {   
        font-size: 1.7em;
        line-height: 3.3em;
        margin-left: 7%;
    }
    .cont-top h3 {
        font-size: 1.5em;
    }
    .cont-top h4 {
        font-size: 1.5em;
    }
    .a3grids-1-3 h3 {
        font-size: 1.1em;
    }
    .a3grids {
        margin-bottom: 35%;
    }
    .a3grids-1-3 i {
        font-size: 2em;
    }
}
@media only screen and (max-width: 768px) {
    .ei-slider-bottom-about h3 {   
        font-size: 1.4em;
        line-height: 3.4em;
        margin-left: 5%;
    }
    .a3grids .hide {
        display: none;
    }
    .a3grids-1-3 {
        width: 45.9999%;
        margin-left: 2%;
    }
    .cont-top h3 {
        font-size: 1em;
    }
    .cont-top h4 {
        font-size: 1em;
    }
    .cont-top p {
        font-size: .85em;
    }
    .a3grids-1-3 h3 {
        font-size: .9em;
    }
    .a3grids-1-3 p {
        font-size: .8em;
    }
}
@media only screen and (max-width: 320px) {
    .slider-about {
        height: 320px;
    }
    .ei-slider-bottom-about h3 {   
        font-size: 1.2em;
        line-height: 4.4em;
        margin-left: 7%;
    }
    .a3grids {
        margin-bottom: 2%;
    }
    .a3grids-1-3 {
        float: none;
        width: 100%;
        margin-left: 0;
    }
    .cont-top h3 {
        font-size: .9em;
    }
    .cont-top h4 {
        font-size:.91em;
    }
    .cont-top p {
        font-size: .7em;
        width: 100%;
        margin-left: 0;
        margin-bottom: 9%;
    }
    .a3grids-1-3 {
        margin-bottom: 6%;
    }
    .a3grids-1-3 h3 {
        font-size: .75em;
    }
    .a3grids-1-3 p {
        font-size: .7em;
    }
    .a3grids-1-3 i.fa {
        display: none;
    }
}