.contact-top {
    display: block;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 3%;
}
.row .col-1-2 {
    float: left;
    margin-right: 3%;
    width: 48.5%;
}
.row .col-1-2-r {
    margin-right: 0;
}
.contact-top h3 {
    font-size: 2.5em;
    color: #242424;
    margin-bottom: 2%;
    text-align: center;
}
.contact-top label {
    text-transform: capitalize;
}
.contact-top input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    margin-top: 5px;
}
.contact-top textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin-top: 5px;
}
.contact-btn {
    margin-top: 2%;
    margin-left: 42%;
    padding: 18px 50px;
}
.contact-btn:hover {
    opacity: .7;
    -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.contact-bottom {
    display: block;
    height: 600px;
    padding-top: 2%;
    border-top: 1px solid #BCB4A7;
}

.contact-bottom .location {
    display: block;
    margin-bottom: 2%;
    float: left;
    width: 76%;
}
.contact-bottom .info {
    display: block;
    float: left;
    width: 22%;
    margin-left: 1.9999%;
    padding-top: 4%;
}
.map {
    width: 100%;
    height: 500px;
}
.location h3 {
    font-size: 2.5em;
    text-transform: capitalize;
    color: #242424;
    margin-bottom: 2%;
    text-align: center;
}
.info h3 {
    font-size: 1.8em;
    text-transform: capitalize;
    color: #242424;
    margin-bottom: 2%;
}
.info p {
    font-size: 1em;
    margin-bottom: 1.5%;
    color: #777;
}
.info p a {
    color: #57C5A0;
}
.social-contact {
    float: none;
}
.social-contact ul li:first-child {
    margin-left: 0;
}

.social-contact ul li a {
    background: #DFDBD4;
}

@media only screen and (max-width: 960px) {
    .contact-top {
        width: 70%;
        margin-left: 17%;
    }
    .contact-btn {
        margin-left: 38%;
    }
    .contact-top h3 {
        font-size: 2em;
    }
    .contact-bottom {
        height: 470px;
    }
    .contact-bottom .location {
        width: 70%;
    }
    .contact-bottom .info {
        width: 28%;
        margin-left: 1.9999%;
        padding-top: 5.5%;
    }
    .map {
        width: 100%;
        height: 400px;
    }
    .location h3 {
        font-size: 2em;
    }
    .info h3 {
        font-size: 1.3em;
    }
    .info p {
        font-size: .9em;
    }
    .social-contact ul li {
        margin-left: 5px;
    }
    .social-contact ul li a {
        padding: 10px 8px;
    }
}
@media only screen and (max-width: 768px) {
    .social-contact ul li a {
        padding: 5px;
    }
    .social-contact ul li a i {
        font-size: 1.3em;
    }
    .social-contact ul li {
        margin-left: 4px;
    }
    .contact-bottom .location {
        width: 68%;
    }
    .contact-bottom .info {
        width: 30%;
        padding-top: 6%;
    }
}
@media only screen and (max-width: 320px) {
    .contact-top {
        width: 100%;
        margin-left: 0;
    }
    .row .col-1-2 {
        float: none;
        width: 100%;
    }
    .contact-top {
        padding-bottom: 2%;
    }
    .contact-bottom {
        height: 600px;
        padding-top: 4%;
    }
    .contact-bottom .location {
        float: none;
    }
    .contact-bottom .info {
        float: none;
    }
    .contact-btn {
        width: 100%;
        margin-left: 0%;
        padding: 18px 0;
        text-align: center;
    }
    .contact-bottom .location {
        width: 100%;
    }
    .contact-bottom .info {
        width: 100%;
        padding-top: 6%;
        margin-left: 0;
    }
    .social-contact ul li {
        margin-left: 10px;
        margin-top: 0;
    }
    .social-contact ul li a {
        padding: 10px 8px;
    }    
    .social-contact ul li a i {
        font-size: 1.5em;
    }
    .contact-top h3 {
        font-size: 1.5em;
        padding-bottom: 10px;
    }
    .location h3 {
        font-size: 1.5em;
        padding-bottom: 10px;
    }
    .info p:last-of-type {
        padding-bottom: 5px;
    }
    .map {
        height: 300px;
    }
    .row {
        text-align: center;
    }
}
