.footer-top{
	background: #242424;
}
.footer{
	padding: 4%;
}
.f3grids {
    display: block;
}
.fgrid-1-3 {
    float: left;
    width: 30.9999%;
    margin-left: 3.3333%;
}
.fgrid-1-3:first-child {
    margin-left: 0;
}
.fgrid-1-3 h3 {
    font-size: 1.2em;
    color: #747474;
    text-transform: uppercase;
    margin-bottom: 6%;
}
.fgrid-1-3 p {
    font-size: 0.8725em;
    color: #9B9B9B;
    line-height: 1.6em;
    font-style: italic;
}
.fgrid-1-3 p.top {
    margin-top: 2%;
}
.fgrid-1-3 p a {
    color: #57C5A0;
}
.fgrid-1-3 p a:hover{
	color: #9B9B9B;
}
.twitter-timeline {
    background: #242424;
    max-height: 10px;
}
.flickr_badge_image {
    margin:0px;
    display:inline;
}
.flickr_badge_image img {
    margin: 1.5%;
    width: 27.3333%;
    height: 9.66666%;
}
#flickr_badge_wrapper {
    width: 100%;
    text-align:left
}


.footer-mid {
    border-top: 1px solid #141414;
    background: #242424;
}
.fsearch {
    float: left;
    position: relative;
    width: 29.3333%;
}
.fsearch form input[type="text"] {
    float: left;
    font-family: 'Maven Pro', sans-serif;
    font-style: italic;
    font-size: 0.8725em;
    line-height: 24px;
    width: 87.3333%;
    padding: 10px;
    background: #2E2E2E;
    color: #9B9B9B;
    border: none;
    outline: none;
}
.fsearch form i {
    cursor: pointer;
    line-height: 1em;
    float: right;
    -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.fsearch form i.fa-angle-right {
    font-size: 1.5em;
    background: #9B9B9B;
    padding: 10px 18px;
}
.fsearch form i:hover {
    opacity: 0.7;
}
.social {
    float: right;
    margin-right: 2%;
}
.social ul li {
    float: left;
    margin-left: 10px
}
.social ul li a{
    display: block;
    padding: 10px;
    background: #2e2e2e;
    width: 24px;
    height: 24px;
}
.social ul li a i {    
    font-size: 1.5em;
}
.social ul li a:hover i {
    color: white;
}
.social ul li a i.fa-facebook {
    margin-left: 5px; 
}
.social ul li a.facebook:hover {
    background: #3866c9;
    -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.social ul li a.twitter:hover {
    background: #4d9bf5;
    -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.social ul li a.google:hover {
    background: #d34836;
    -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.social ul li a.linked:hover {
    background: #0077B5;
    -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.social ul li a.flickr:hover {
    background: #ff0084;
    -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}



.footer-btm {
    background: #2e2e2e;
}
.copy {
    float: left;
}
.copy p {
    color: #7d7d7d;
    font-size: 0.8725em;
    line-height: 1.8em;
}
.fnav1 {
    float: right;
}
.fnav1 li {
    float: left;
    margin-right: 10px;
}
.fnav1 li a {
    display: block;
    color: #7d7d7d;
    font-size: 0.8725em;
}
.fnav1 li a span:hover {
    color: #57c5a0;
}
/* ScrollUp Button */
.scrollup {
    width:40px;
    height:40px;
    position:fixed;
    bottom:10px;
    right:20px;
    display:none;
    text-indent:-9999px;
    background: url(../img/top-move.jpg) no-repeat;
}
.scrollup:hover {
    opacity: .7;
    -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
    



@media only screen and (max-width: 1280px) {
    .fsearch {
        width: 30%;
    }
    .fsearch form input[type="text"] {
        width: 86.5%;
    }
}
@media only screen and (max-width: 960px) {
    .footer-top .container {
        width: 87%;
    }
    .footer-mid .container {
        width: 87%;
    }
    .fnav li {
        width: 26.9999%;
    }
    .fgrid-1-3 {
        font-size: .7725em;         
    }
    .fgrid-1-3 h3 {
        font-size: 1em;
    }
    
    .fsearch {
        width: 33.3333%;
    }
    .fsearch form input[type="text"] {
        line-height: 18px;
        width: 82%;
    }
    .fsearch form i {
        line-height: 18px;
        left: 0;
    }
    .social ul li a i {
        height: 18px;
    }
}
@media only screen and (max-width: 768px) {
    .footer-top .container {
        width: 95%;
    }
    .footer-mid .container {
        width: 95%;
    }
    .f3grids .hide {
        display: none;
    }
    .fgrid-1-3 {
        width: 37.9999%;
        margin-left: 24%;
    }
    .fnav li {
        width: 30.3333%;
        margin: 0 7px 7px 0;
    }
    .fsearch {
        width: 38%;
    }
    .fsearch form input[type="text"] {
        line-height: 15px;
    }
    .fsearch form i {
        line-height: 15px;        
        padding: 10px 14px;
    }
    .social ul li a {
        height: 18px;
        padding: 8px 6px;
    }
  
    .copy p {
        font-size: 0.725em;
        line-height: 1.5em;
    }
    .fnav1 li a {
        font-size: 0.725em;
    }
}

@media only screen and (max-width: 320px) {
    .fgrid-1-3 {
        float: none;
        width: 100%;
        margin-left: 0;
    }
    .fgrid-1-3 h3 {
        margin-top: 5%;
    }
    .flickr_badge_image img {
        width: 30.3333%;
    }
    .fsearch {
        float: none;
        width: 100%;
    }
    .fsearch form input[type="text"] {
        width: 83%;
    }
    .social {
        float: none;
        margin-left: 7%;
        margin-top: 4%;
    }
    .social ul li {
        margin-top: 6%;
    }
    .social ul li a i {    
        font-size: 1.3em;
    }
    .social ul li a i.fa-flickr {    
        margin-left: 3px;
    }
    .copy {
        margin-left: 22%;
    }
    .copy p {
        text-align: center;
        width: 100%;
    }
    .fnav1 {
        float: none;
        width: 100%;
        margin-top: 17%;
    }
    .fnav1 li {
        float: none;
        text-align: center;
    }
    
}