.black-bg {
    background: #242424;
}
.header_top {
	padding: 0 4%;
}
.logo {
	float: left;
	margin: 5px 0;
}
.logo a {
	color: #57C5A0;
	font-size: 2em;
}
.login_reg {
	float: right;
	padding: 12px 16px;
	border-right: 1px solid rgb(60, 60, 60);	
	text-align: center;
}

.login_reg ul:hover {
	cursor: pointer;
	background-color: #57C5A0;
	border-radius: 5px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.login_reg ul li {
	display: inline-block;
}
.login_reg li a {
	font-family: 'Maven Pro', sans-serif;
	font-size: 0.8125em;
	display: block;
	padding: 5px 8px;
	color: #777777;
	text-transform: uppercase;
}
.login_reg span.log {
	font-size: 0.8125em;
	color: #777777;
	text-transform: lowercase;
}


.web_search {
	position: relative;
	float:right;
	width: 20%;
	border-right: 1px solid rgb(60, 60, 60);
	border-left: 1px solid rgb(60, 60, 60);
	padding: 8px 10px;
}
.web_search input[type="text"]{
	font-family: 'Maven Pro', sans-serif;
	padding: 9px 20px;
	outline: none;
	border: none;
	width: 76%;
	background: none;
	font-size: 0.8125em;
	color: #777777;
	
}
.web_search:hover input[type="submit"]{
	background: url(../img/search.png) no-repeat 0px 4px;
}
.web_search input[type="submit"]{
	background: url(../img/search.png) no-repeat 0px 4px;
	border: none;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.header_btm{
	padding: 0 4%;
}
.menu{
	float: left;
}
.search {
	display: none;
}
.hamb-nav {
	display: none;
}
.menu ul li{
	float: left;
	border-left: 1px solid rgb(226, 226, 226);
}
.menu ul li:nth-child(6){
	border-right: 1px solid rgb(226, 226, 226);
}
.menu ul li a{
	display: block;
	padding: 26px 30px;
	color: #2d2d2d;
	font-size: 1.1em;
	text-transform: capitalize;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.menu ul li.active a{
	color:#57C5A0;
}
.menu ul li a:hover{
	color:#57C5A0;
}
.header_right{
	float:right;
}
.header_right ul li{
	display: inline-block;
}
.header_right ul li a{
	font-family: 'Maven Pro', sans-serif;
	display: block;
	line-height: 1.8em;
	font-size: 1.3em;
	padding: 26.5px 24px;
	border-left: 1px solid rgb(226, 226, 226);
	
}
.header_right ul li:nth-child(2) a{
	border-right: 1px solid rgb(226, 226, 226);	
}
.header_right ul li a span {
	background: #999999;
	padding:6px 8px;
	border-radius:5px;
	margin-left: 14px;	
	color: #ffffff;
	font-size: .8em;
}
.header_right ul li a span:hover {
	background: #57C5A0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}



/* JQuery style */
ul.ui-autocomplete.ui-menu {
	font-family: 'Maven Pro', sans-serif;
	background: #242424;
	color:#777777;
	text-transform: uppercase;
	font-size: .825em;
	width: 11.9999%;
	display: block;
	padding: 11px;
	border: none;
	
}
.ui-menu-item {
	padding: 12px;
}
.ui-widget-content .ui-state-active, {
	background: #242424;
	border: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}






@media only screen and (max-width: 1280px) {
	.menu ul li a {
		padding: 26px 15px;
	}
}
@media only screen and (max-width: 960px) {
	.logo a {
		font-size: 1.9em;
	}
	.web_search {
		width: 16.33333%;
	}
	.login_reg {
		width: 15.66666%
	}
	.login_reg li a {
		padding: 5px 0;
	}
	.web_search input[type="text"] {
		width: 74%;
	}
	.menu ul li a {
		padding: 26px 15px;
	}
	.header_right ul li a{
		padding: 26.5px 19px;
	}
}
@media only screen and (max-width: 768px) {
	.web_search {
		width: 18.33333%;
	}
	.web_search input[type="text"] {
		font-size: .7em;
	}
	.login_reg {
		width: 17.6666%;
	}
	.login_reg li a {
		font-size: .7em;
	}
	.login_reg span.log {
		font-size: .7em;
	}
	ul.ui-autocomplete.ui-menu {
		font-size: .7em;
	}
	.menu ul li a {
		padding: 21px 20px;
		font-size: .8em;
	}
	.menu ul li:nth-child(6) {
		border-right: none;
	}
	.header_right ul li a {
		padding: 21.5px 16px;
	}
	.header_right ul li a > i {
		font-size: .7em;
	}
}

@media only screen and (max-width: 320px) {
	.logo a {
		font-size: 1.3em;
		line-height: 1.9em;
	}
	.web_search {
		display: none;
	}
	.login_reg {
		width: 32.6666%;
		border-left: 1px solid rgb(60, 60, 60);
		padding-left: 8px;
	}
	.login_reg ul li {
		margin-top: 5%;
	}
	.login_reg li a {
		font-size: .55em;
	}
	.login_reg span.log {
		font-size: .6em;
	}
	.menu {
		display: none;
	}
	.header_right ul li a {
		padding: 21px 8px;
	}

	.hamb-menu {
		width: 279px;
		margin-top: 17px;
		margin-left: -16px;
		display: none;
	}
	.hamb-menu li {
		font-family: 'Maven Pro', sans-serif;
		font-size: .6em;
		background: white;
		text-align: left;
		border-top: .8px solid #c7c1c1;
		padding: 5px;
		line-height: 1.3em;
		
	}
	.hamb-menu li a {		
		color: #2d2d2d;
		margin-left: 7px;
	}
	.hamb-menu li a:hover {
		color: #57C5A0;
	}
	.hamb-nav {
		position: relative;
		z-index: 1000;
	}
	
	.hamb-nav {
		display: inline-block;
		width: 28px;
		height: 28px;
		position: absolute;
		padding: 14px 16px;
		left: 6.33333%;
		border-right: 1px solid rgb(226, 226, 226);
		border-left: 1px solid rgb(226, 226, 226);
		font-size: 1.5em;
	}
	.fa-bars {
		margin-left: 3px;
	}
	.fa-bars:hover {
		color: #57C5A0;
	}
	
	.search {
		display: inline-block;
		width: 28px;
		height: 28px;
		position: absolute;
		padding: 14px 18px;
		left: 23.6666%;
	}
	.fa-search {
		margin-left: 15px;
		margin-top: 5px;
	}

}

