/* Login */

#modal{
  border: 1px solid rgb(230, 228, 228);
  width:300px;
  position:absolute;
  left:41%; 
  top:30%;
  background: white;
  z-index: 1001;
  text-align: left;
}
.popupHeader {
  display: inline-block;
  background: rgb(226, 226, 229);
  width:100%;
}
.popup_title {
  float: left;
  text-transform: uppercase;
  padding: 8px;
  font-weight: bold;
}
.modal_close {
  background: rgb(160, 160, 160);
  padding: 10px;
  float: right;
  cursor: pointer;
}
.modal_close:hover {
  opacity: .8;
}

.user_login label {
  display: block;
  margin-bottom: 5px;
  font-size: .9em;
  font-family: 'Maven Pro', sans-serif;
}
.user_login label.us-ps {
  margin: 12px;
}
.user_login input[type="text"],
.user_login input[type="email"],
.user_login input[type="password"] {
  display: block;
  width: 90%;
  padding: 10px;
  border: 1px solid #DDD;
  color: #666;
  margin: 12px;
}
.user_login input[type="checkbox"] {
  float: left;
  margin-right: 5px;
  margin-left: 12px;
}
.user_login input[type="checkbox"]+label:hover {
  opacity: .7;
}
.user_login input[type="checkbox"]+label {
  cursor: pointer;
  float: left;
}

.user_login .checkbox {
  margin-bottom: 10px;
  clear: both;
  overflow: hidden;
}

.forgot_password {
  display: block;
  margin: 12px;
  clear: both;
  overflow: hidden;
  text-decoration: none;
  color: #666;

}
.forgot_password a {
  font-size: .9em;
}
.forgot_password:hover {
  color: red;
}
.bttn {
  padding: 10px 35px;
  background: #F4F4F2;
  float: left;
  margin: 12px;
  color: white;
}
.bttn_green {
  background: #57C5A0;
}
.bttn_reg {
  background: #666;
}
.bttn_green:hover {
  opacity: .8;
}
.bttn_reg:hover {
  opacity: .8;
}

#lean_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}

/* Register */

.user_register label {
  display: block;
  margin-bottom: 5px;
}
.user_register input[type="text"],
.user_register input[type="email"],
.user_register input[type="password"] {
  display: block;
  width: 90%;
  padding: 10px;
  border: 1px solid #DDD;
  color: #666;
  margin: 12px;
}
.user_register input[type="checkbox"] {
  float: left;
  margin-right: 5px;
  margin-left: 12px;
}
.user_register input[type="checkbox"]+label:hover {
  opacity: .7;
}
.user_register input[type="checkbox"]+label {
  float: left;
  cursor: pointer;
}
.user_register .checkbox {
  margin-bottom: 10px;
  clear: both;
  overflow: hidden;
}
.user_register label.us-ps {
  margin: 12px;
}
.action_btns .fa-angle-double-left {
  color: white;
}
.user_register label {
  font-size: .9em;
}