/* 3imgs */
.main-imgs {
    padding: 4% 4% 2%;
}
.img-1-3 {
    float: left;
    width: 30.99999%;
    margin-left: 3.3333%;
    text-align: center;
}
.img-1-3:first-child {
    margin-left: 0;
}
.img-1-3 img {
    width: 100%;
}
.img-1-3 span {
    position: relative;
    top: -130px;
}
.img-1-3 span.tag {
    background: rgba(36, 36, 36, 0.85);
    padding: 20px 40px;
    color: #ffffff;
    font-size: 1.5em;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.img-1-3 span.tag:hover {
    color: #57c5a0;
}

/* Main */

.main-bg {
    background: #EBE7DF;
}
.main {
    padding: 4%;
}
.main-top {
    margin: 3% 0;
}
.main-top:first-child {
    margin-top: 0;
}
.main-top h2 {
    float: left;
    font-size: 1.5em;
}
.main-top a {
    float: right;
    text-transform: capitalize;
    font-size: 1.5em;
    color: #BCB4A7;
    padding: 8px 20px;
    border: 1px solid #BCB4A7;
    -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.main-top a:hover {
    background: #BCB4A7;
	color: #fff;
}

/* m3grids */
.m3grids {
    text-align: center;
    display: block;
}
.mgrid-1-3 {
    float: left;
    width: 30.33333%;
    margin-left: 4.3333%;
    background: #ffffff;
    position: relative;
}
.mgrid-1-3:first-child {
    margin-left: 0;
}

.mgrid-1-3 a h3.title{
    display: block;
}
.mgrid-1-3 a:hover h3.title {
    display: none;
}
.mgrid-1-3 a h3.img {
    display: none;
}
.mgrid-1-3 a h3 i {
    margin-left: 8%;
}
.mgrid-1-3 a h3 i:hover {
    color: #57C5A0;
    -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.mgrid-1-3 a:hover h3.img {
    display: block;
}


.mgrid-1-3 img {
    padding: 8% 0;
}
.mgrid-1-3 h3 {
    border-top: 1px solid #EBEBEB;
    padding: 15px;
    font-size: 1.2em;
    color: #000000;
    text-transform: capitalize;
}
.price {
    background: #57c5a0;
    position: absolute;
    font-size: 0.8em;
    padding: 25px 8px;
    bottom: 0;
    left: 10px;
    color: #ffffff;
}
.price1 {
    position: absolute;
    font-size: 0.8em;
    padding: 25px 8px;
    top: 0;
    right: 10px;
    color: #ffffff;
    text-transform: uppercase;
}
.price1.b {
    background: #242424;
}
.price1.o {
    background: #F27E4B;
    width: 60px;
}

/* m2grids */
.m2grids {
    margin: 4% 0 1%;
    display: block;
    border-top: 1px solid #DFDBD4;
    padding-top: 3%;
}
.mgrid-1-2 {
    float: left;
    width: 46.77777%;
    margin-left: 2.3333%;
}
.mgrid-1-2:first-child {
    margin-left: 0;
}
.mgrid-1-2.bg {
    background: #DFDBD4;
    padding: 2%;   
    height: 177px; 
}
.mgrid1-1-2 {
    float: left;
    width: 38.77777%;
    margin-left: 5.3333%;
    background: #DFDBD4;
    padding: 4%;
    height: 180px;
}
.mgrid1-1-2:first-child {
    margin-left: 0;
}
.mgrid-1-2 h2 {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 4%;
}
.mgrid-1-2 {
    font-size: 0.8725em;
    line-height: 1.3em;
}
.mgrid1-1-2 span.jd {
    font-style: italic;
    line-height: 2.3em;
}
.blog-date {
    margin-top: 4%;
}
.date1 {
    float: left;
    width: 9.3333%;
}
.blog-txt {
    float: left;
    width: 84.3333%;
    margin-left: 3.3333%;
}
.date1 h4{
	font-size: 1.1em;
	margin-top: 2px;
	background:#57C5A0;
	padding: 8px 12px;
	text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}
.blog-txt h3 a {
    display: block;
    font-size: 1.1em;
    margin-bottom: 1%;
    font-weight: bold;
    color: #141414;
}
.blog-txt h3 a:hover {
    color: #57C5A0;
    -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
@media only screen and (max-width: 1280px) {
    .img-1-3 span {
        top: -110px;
    }
    .img-1-3 span.tag {
        padding: 17px 24px;
        font-size: 1.3em;
    }
    .date1 h4 {
        font-size: .8em;
    }
}
@media only screen and (max-width: 960px) {
    .mgrid-1-3 h3 {
		font-size: 1em;
        text-align: left;
        margin-left: 65px;
    }
    .mgrid-1-3 a h3 i {
        margin-left: 10%;
    }
    .img-1-3 span {
        top: -90px;
    }
    .img-1-3 span.tag {
        padding: 12px 18px;
        font-size: 1.2em;
    }
    .main-top h2 {
        margin-top: 1%;
        font-size: 1.3em;
    }
    .main-top a {
        font-size: 1.3em;
        padding: 6px 16px;
    }
    .price {
        font-size: .7em;
    }
    .price1 {
        font-size: .7em;
        padding: 20px 5px;
    }
    .mgrid-1-2{
        font-size: .75em;
    }
    .date1 {
        width: 11.33333%;
    }
    .date1 h4 {
        font-size: .75em;
    }    
}
@media only screen and (max-width: 768px) {
    .img-1-3 span {
        top: -70px;
    }
    .img-1-3 span.tag {
        padding: 10px 15px;
        font-size: 1em;
    }
    .main-top a {
        font-size: .9em;
    }

    .mgrid-1-3 {
        width: 31.66666%;
        margin-left: 2.3333%;
    }
    .mgrid-1-3 img {
        padding: 2% 0;
    }
    .mgrid-1-3 h3 {
        padding: 10px;
        font-size: .85em;
    }

    .mgrid-1-2 .hide {
        display: none;
    }
    .mgrid-1-2 {
        width: 31.77777%;
        margin-left: 2.3333%;
    }
    .mgrid1-1-2 {
        width: 91.77777%;
        margin-left: 5.3333%;
        height: 160px;
        margin-left: 0;
    }
    .mgrid1-1-2 h2 {
        margin: 2.5%;
    }
    .mgrid1-1-2 p {
        margin: 5% 4% 0;
    }
    .mgrid1-1-2 span.jd {
        margin: 2% 4%;
    }
    .mgrid-1-2.bg {
        width: 61.6666%;
        height: 151px;
    }
}
@media only screen and (max-width: 320px) {
    .img-1-3 {
        float: none;
		width: 100%;
		margin-left: 0;
		text-align: center;
    }
    .img-1-3 span {
        top: -90px;
    }
    .mgrid-1-3 {
        float: none;
        width: 100%;
        margin-left: 0;
        text-align: center;
        margin-top: 12px;
    }
    .main-top h2 {
        float: none;
        text-align: center;
        margin-bottom: 3%;  
    }
    .main-top a {
        float: left;
        width: 88%;
        text-align: center;
    }
    .mgrid-1-3 h3 {
        text-align: center;
    }
    .mgrid-1-2 {
        float: none;
        width: 100%;
        margin-left: 0;
    }
    .mgrid1-1-2 {
        height: 120px;
    }
    .mgrid-1-2.bg {
        width: 88%;
        margin-left: 0;
        margin-top: 150px;
        padding: 6%;
    }
    .date1 h4 {
        padding: 8px 7px;
    }   
}