
.ei-slider-products {
    height: 400px;
}
.ei-title-products {
    right: 18%;
}
.ei-title-products .btn-products {
    float: left;
    padding: 25px 10px;
    margin-top: 20px;
}
.ei-title-products h3.active {
    font-size: 1.1em;
}
.ei-title-products h2 {
    float: left;
    margin-left: 10px;
}
.ei-slider-bottom {
    margin-left: 20%;
}
.ei-slider-bottom li {
    display: inline-block;
    margin: 1.2% 2.5%;
    color: white;
    font-size: 1em;
}
.ei-slider-bottom li:first-child {
    margin-left: 0;
}

/* Style ui-menu */
.ui-selectmenu-button.ui-button {
    background: #242424;
    color: white;
    border: none;
    padding: 25px;
    -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.ui-selectmenu-button.ui-button:focus {
    outline:none;
    border:none;
    color: #57c5a0;
}
.ui-selectmenu-button.ui-button:focus .ui-icon {
    background: url("../img/circle-arrow-d-g.png");
}
.ui-selectmenu-button.ui-button:hover {
    color: #57c5a0;
    -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.ui-selectmenu-button.ui-button:hover .ui-icon {
    background: url("../img/circle-arrow-d-g.png");
    -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.ui-selectmenu-text {
    text-align: center;
}

.ui-icon,
.ui-widget-content .ui-icon {
	background: url("../img/circle-arrow-d.png");
}
.ui-widget-header .ui-icon {
	background: url("../img/circle-arrow-d.png");
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-button:hover .ui-icon,
.ui-button:focus .ui-icon {
	background: url("../img/circle-arrow-d.png");
}
.ui-state-active .ui-icon,
.ui-button:active .ui-icon {
	background: url("../img/circle-arrow-d.png");
}
.ui-state-highlight .ui-icon,
.ui-button .ui-state-highlight.ui-icon {
	background: url("../img/circle-arrow-d.png");
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
	background: url("../img/circle-arrow-d.png");
}
.ui-button .ui-icon {
	background: url("../img/circle-arrow-d.png");
    -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.ui-menu .ui-menu-item {
    background: #242424;
    color: white;
    padding: 0px;
}
.ui-menu-item .ui-menu-item-wrapper {
    padding: 8px;
}
.ui-state-active:hover {
    background: #57c5a0;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: none;
}
.ui-widget.ui-widget-content {
    border: 1px solid #242424;
    margin-top: 2px;
    border-radius: 8px;
}
/* Main */

.main-top-products .products {
    border: none;
    float: left;
    font-size: 1em;
}
.main-top-products .view {
    border: none;
    font-size: 1.4em;
    line-height: 1.5em;
    cursor: context-menu;
}
.main-top-products .products:hover {
    background: none;
    color: #BCB4A7;
    opacity: .7;
}
.main-top-products .view:hover {
    background: none;
    color: #BCB4A7;
    opacity: .7;
}
.main-top-products a {
    margin-right: 10px;
}
.main-top-products a.active {
    background: white;
}
.main-top-products a i {
    padding: 5px 0;
}
.m3grids-list .mgrid-1-3-products {
    float: none;
    margin-left: 0;
}
.main-top-products a i.fa-chevron-circle-down {
    margin-left: 15px;
}
.mgrid-1-3-products {
    margin-bottom: 3%;    
}
.m2grids-products {
    margin-top: 0;
}




/* Parallax */

.parallax-background {
    background: url(../img/image1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    background-position-y: 0%;
}
 
@media only screen and (max-width: 960px) {
    .ei-slider-products {
        height: 290px;
    }
    .slider-products {
        padding-bottom: 10%;
    }
    .ei-title-products {
        right: 7%;
    }
    .ei-title-products .btn-products {
        float: left;
        padding: 22px 10px;
        margin-top: 17px;
    }
    .ei-title-products h3.active {
        font-size: 1.1em;
    }
    .ei-title-products h2 {
        float: left;
        margin-left: 10px;
    }
    .ei-slider-bottom {
        margin-left: 10%;
    }
    .ei-slider-bottom li {
        display: inline-block;
        margin: 1.3% 1%;
        color: white;
        font-size: 1.1em;
    }
    .ui-selectmenu-button.ui-button {
        padding: 25px 10px;
        width: 11em;
    }
    
    .main-top-products a {
        font-size: 1.2em;
    }
    .main-top-products a.view {
        font-size: 1.2em;
        line-height: 1.6em;
    }
    
    .main-top-products .products {
        line-height: 2em;
    }
    .parallax-background {
        background: url(../img/image1x960.jpg) center no-repeat;
        background-position-y: 0;
        background-position-x: 30%;
    }
}
@media only screen and (max-width: 768px) {
    .ei-slider-bottom li {
        display: inline-block;
        margin: 1.6% 1.5%;
        color: white;
        font-size: 1em;
    }
    .ui-selectmenu-button.ui-button {
        padding: 16px;
        width: 7.5em;
    }
    .main-top-products a.view {
        display: none;
    }
    .main-top-products a {
        font-size: 1em;
    }
    .main-top-products h2 {
        font-size: 1.2em;
    }
    .main-top-products .products {
        line-height: 1.5em;
    }
}
@media only screen and (max-width: 320px) {
    .slider-im-img1 {
        height: 100%;
        width: 100%;
    }
    .slider-products {
        height: 450px;
    }
    .ei-title-products h2 {
        font-size: 1.7em;
        float: left;
    }
    .ei-title-products h3.active {
        float: left;
        font-size: .9em;
    }
    .icons-products {
        float: left;
    }
    .ei-slider-bottom {
        margin-left: 2%;
        margin-top: 5%;
    }
    .ei-slider-bottom li {
        display: block;
        text-align: center;
    }
    .ui-selectmenu-button.ui-button {
        text-align: center;
        float: none;
        margin: 1%;
        padding: 16px 30px;
    }
    
    .ui-menu-item-wrapper {
        font-size: .75em;
    }
    
    .ei-slider-bottom li a i {
        margin-left: 4px;
        margin-right: 2px;
    }

    .main-top-products a.products {
        text-align: left;
        margin-left: 0;
    }
    .main-top-products .hide {
        display: none;
    }

    
}



