.slider{
	background: #2e2e2e;
	padding-bottom: 6%;
}
.ei-slider {
    font-family: 'Maven Pro', sans-serif;
	position: relative;
	width: 100%;
	max-width: 1920px;
	height: 450px;
	margin: 0 auto;
}
.ei-slider-large {
    height: 100%;
	width: 100%;
	position:relative;
	overflow: hidden;
}
.ei-slider-large li{
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.ei-slider-large li img{
	margin-left:0px !important;
}
.slider-im-img {
	width: 100%;
	height: 100%;
}
.slider-im-img1 {
	display: none;
}
.ei-title {
    position: absolute;
	right: 25%;
	top: 15%;
}
.btn {
	background: #57C5A0;
	color: #ffffff;
	padding: 16px 5px;
	display: inline-block;
}
.btn.h3 {
	font-size: 1em;
}

.ei-title h2 {
	font-family: 'Maven Pro', sans-serif;
	padding:10px 0 0;
	font-size: 2.5em;
	line-height: 1.2em;
	color: #242424;
	text-transform:capitalize;
}
.ei-title h3 {
    font-family: 'Maven Pro', sans-serif;
	padding-top:15px;
	font-size: 1.2em;
	line-height:1.5em;
	color: #ffffff;
	cursor: pointer;
	
}
.ei-title h3.active {
    color: #000000;
}
.ei-title h3 i.fa {
	background: #ffffff;
	padding: 12px;
	font-size: 1.2em;
}
.ei-title h3 i.fa:hover {
	color: #57C5A0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}



.ei-slider-thumbs{
	height: 10px;
	margin: 10 auto;
	position: relative;
   }
.ei-slider-thumbs li{
	position: relative;
	float: left;
	height: 130%;
}
.ei-slider-thumbs li.ei-slider-element{
	top: 0px;
	left: 0px;
	position: absolute;
	width: 100%;
	height: 130%;
	z-index: 10;
	text-indent: -9000px;
	background: #5B6A7F;
	background: #57C5A0;
	border-radius: 7px;
}
.ei-slider-thumbs li a{
	text-align:center;
	display: block;
	background: #000000 ;
	width: 100%;
	height: 100%;
	cursor: pointer;
	border-radius: 7px;
	-webkit-box-shadow: 
			0px 1px 1px 0px rgba(0,0,0,0.3), 
			0px 1px 0px 1px rgba(48, 48, 48, 1);
	-moz-box-shadow: 
			0px 1px 1px 0px rgba(0,0,0,0.3), 
			0px 1px 0px 1px rgba(255,255,255,0.5);
	box-shadow: 
			0px 1px 1px 0px rgba(0,0,0,0.3), 
			0px 1px 0px 1px rgba(48, 48, 48, 1);
	-webkit-transition: background 0.2s ease;
		-moz-transition: background 0.2s ease;
		-o-transition: background 0.2s ease;
		-ms-transition: background 0.2s ease;
		transition: background 0.2s ease;
}
.ei-slider-thumbs li a:hover{
	background-color: #f0f0f0;
	border-radius: 10px;
}
.ei-slider-thumbs li a span.active{
	color: #ffffff; 
	border-radius: 10px;
}
.ei-slider-thumbs li a span{
	padding-top: 30px;
	font-size: 1.2em;
	display: inline-block;
	color: #999999;
	text-transform: capitalize;
}
.ei-slider-thumbs li a p{
	font-size: 0.8125em;
	color: #999999;
	line-height: 1.8em;
}
.ei-slider-thumbs li img{
	position: absolute;
	bottom: 50px;
	opacity: 0;
	z-index: 999;
	max-width: 100%;
	-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		transition: all 0.4s ease;
	-webkit-box-reflect: 
			below 0px -webkit-gradient(
				linear, 
				left top, 
				left bottom, 
				from(transparent), 
				color-stop(50%, transparent), 
				to(rgba(255,255,255,0.3))
				);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.ei-slider-thumbs li:hover img{
	opacity: 1;
	bottom: 13px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}





@media only screen and (max-width: 1280px) {
	.ei-title h2 {
		font-size: 2em;
	}
}
@media only screen and (max-width: 960px) {
	.slider{
		padding-bottom: 9%;
	}
	.ei-slider-thumbs {
		width: 86%;
	}
	.ei-slider-thumbs li a span {
		font-size: 1em;
	}
	.ei-title h3 {
		font-size: 0.8275em;
	}
}
@media only screen and (max-width: 768px) {
	.ei-title h3 i.fa {	
		padding: 12px;
	}
	.slider {
		padding-bottom: 11%;
	}
}
@media only screen and (max-width: 320px) {
	.ei-title {
		left: 6.3333%;
		top: 5%;
		width: 100%;
	}
	.ei-title h3.active {
		margin-bottom: 5%;
	}
	.ei-title h3 i.fa {
		padding: 10px;
	}
	.ei-slider-thumbs li a span {
		font-size: .9em;
	}
	.ei-slider-thumbs li a p {
		font-size: .7em;
	}
	.ei-slider-large {
		max-height: 80%;
	}
	.slider-im-img {
		display: none;
	}
	.slider-im-img1 {
		display: block;
		height: 100%;
	}
	.slider {
		padding-bottom: 3%;
	}
	
}