html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,img,ol,nav ul,nav li,form,footer,header,menu,nav,{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
footer, header, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
a{text-decoration:none;}
img{max-width:100%;}
.clear{clear:both;}

body {
    font-family: 'Maven Pro', sans-serif;
    background: #ffffff;
    font-size: 100%;
}
.container {
    margin: auto;
    width: 70%;
}
.wrapper {
    position: relative;
    width: 100%;
}
.fa {
    color: #777777;
}
@media only screen and (max-width: 1280px) {
	.container {
		width:95%;
    }
}
@media only screen and (max-width: 960px) {
    .container {
        width: 95%;
    }
}
@media only screen and (max-width: 768px) {
    .container {
        width: 95%;
    }
}
@media only screen and (max-width: 320px) {
    .container {
        width: 95%;
    }
}